<!-- <span [style.color]="color" -->
<!--   [cpToggle]="true" -->
<!--   [cpDialogDisplay]="'inline'" -->
<!--   [cpPositionRelativeToArrow]="true" -->
<!--   [(colorPicker)]="color" -->
<!--   [cpOKButtonText]="'Taco'" -->
<!--   [cpOKButton]="true" -->
<!--   (colorPickerChange)="updateColor($event)" -->
<!--   (colorPickerSelect)="colorize()"> -->
<!-- </span> -->
<router-outlet></router-outlet>
<hr>
<nav class="navbar buttons-flex">
<button [routerLink]="''">🏠</button>
<button [routerLink]="'find-item'">🔎</button>
<button [routerLink]="'mood'">😄</button>
<button [routerLink]="'social'">👯</button>
</nav>
