<!-- <span [style.color]="color" -->
<!--   [cpToggle]="true" -->
<!--   [cpDialogDisplay]="'inline'" -->
<!--   [cpPositionRelativeToArrow]="true" -->
<!--   [(colorPicker)]="color" -->
<!--   [cpOKButtonText]="'Taco'" -->
<!--   [cpOKButton]="true" -->
<!--   (colorPickerChange)="updateColor($event)" -->
<!--   (colorPickerSelect)="colorize()"> -->
<!-- </span> -->
<div class="container-fluid" style="margin-top:15px">
  <router-outlet></router-outlet>
</div>
<!-- <nav class="navbar buttons-flex nav justify-content-center"> -->
<nav class="navbar fixed-bottom bg-light">
  <div class="container-fluid">
    <button type="button" class="btn btn-primary" [routerLink]="''">🏠</button>
    <button type="button" class="btn btn-primary" [routerLink]="'find-item'">🔎</button>
    <button type="button" class="btn btn-primary" [routerLink]="'mood'">😄</button>
    <button type="button" class="btn btn-primary" [routerLink]="'social'">👯</button>
  </div>
</nav>
