<h1 style="text-align: center;">
  🔎 Find item 🔎
</h1>
<hr>

<div *ngIf="isNetflixSearch && isShowFound">😄 Seems that the content is available in Netflix already</div>
<!-- <div *ngIf="isNetflixSearch && !isShowFound && apiResult.length">we looked - FOUND!</div> -->
<div *ngIf="isNetflixSearch && !isShowFound && !apiResult.length">🥸 We couldn't find any results in the other platforms</div>
<div *ngIf="!isNetflixSearch">👷 Functionality not available here, go to a streaming platform and search for a show.</div>

<ul class="list-group">
  <li *ngFor="let item of apiResult; let i = index" class="list-group-item">

    <div class="container text-left">
      <div class="row align-items-start">
      
      <div class="col">
        <img src="{{item.image}}" style="width:100px;"/>
      </div>
      <div class="col">
        <p>
          {{item.name}}
        </p>
        <p>
          <a href="{{item.url}}" target="_blank"> Watch in: {{item.platform}} </a>
        </p>

      </div>
      </div>
    </div>
  </li>
</ul>


